<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="description" content="{{ description | default(site.description) }}"/>
  <meta name="keywords" content="{{ keywords | default('') }}"/>
  <meta name="author" content="{{ author | default(site.author) }}"/>
  <title>{{ title }}</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
  <link rel="manifest" href="/images/site.webmanifest"/>
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5"/>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <meta name="msapplication-TileColor" content="#da532c"/>
  <meta name="msapplication-config" content="/images/browserconfig.xml"/>
  <meta name="theme-color" content="#ffffff"/>

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@{{ site.social.twitter }}"/>
  <meta name="twitter:title" content="{{ title }}"/>
  <meta name="twitter:description" content="{{ description | default(site.description) }}"/>
  <meta name="twitter:creator" content="@{{ site.social.twitter }}"/>
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="{{ site.url }}{{ image | default(site.defaultImage) }}"/>

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="{% if layout and layout == 'post.njk' %}article{% else %}website{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ image | default(site.defaultImage) }}"/>
  <meta property="og:description" content="{{ description | default(site.description) }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:locale" content="{{ site.locale }}"/>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <link rel="stylesheet" href="/css/styles.css"/>

  <script type="module" src="/js/main.mjs" defer></script>

  {% if noindex %}
    <meta name="robots" content="noindex"/>
  {% elif environment.isDevelopment() %}
    <!--meta name="robots" content="noindex"/-->
  {% endif %}

  <!-- hreflang tags for language versions -->
  <link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
  <link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
  <link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
  <link rel="alternate" hreflang="es" href="{{ site.url }}/es/" />

  <!-- Schema.org for Google -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "{{ site.author }}",
      "alternateName": "{{ site.alternateName }}",
      "jobTitle": "{{ site.jobTitle }}",
      "description": "{{ description | default(site.description) }}",
      "url": "{{ site.url }}/",
      "sameAs": [
        "https://www.facebook.com/{{ site.social.facebook }}",
        "https://twitter.com/{{ site.social.twitter }}",
        "https://github.com/{{ site.social.github }}",
        "https://linkedin.com/in/{{ site.social.linkedin }}",
        "https://scholar.google.de/citations?hl=en&user={{ site.social.googleScholar }}",
        "https://huggingface.co/{{ site.social.huggingface }}",
        "https://researchgate.net/profile/{{ site.social.researchgate }}",
        "https://orcid.org/{{ site.social.orcid }}",
        "https://www.behance.net/{{ site.social.behance }}",
        "https://www.slideshare.net/{{ site.social.slideshare }}/",
        "https://www.xing.com/profile/{{ site.social.xing }}"
      ],
      "email": "mailto:pacoreyes@protonmail.com",
      "alumniOf": [
        {
          "@type": "CollegeOrUniversity",
          "name": "Brandenburgische Technische Universität Cottbus-Senftenberg"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "University of Baltimore"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Universidad Nacional Mayor de San Marcos"
        }
      ],
      "nationality": "Peruvian"
    }
  </script>
</head>
<body>
  {% include "header.njk" %}
<main>
  {{ content | safe }}
</main>
<footer>
  {% include "footer.njk" %}
</footer>

</body>
</html>
