<footer class="site-footer">
  <div class="footer-row">
    <p>Juan-Francisco Reyes &copy; {{ datetime.currentYear() }}</p>
    <div class="social-links">
      <a href="https://github.com/pacoreyes" target="_blank" rel="noopener noreferrer">
        <img src="/images/github-logo.webp" alt="GitHub" width="32" height="32">
      </a>
      <a href="https://huggingface.co/pacoreyes" target="_blank" rel="noopener noreferrer">
        <img src="/images/hugging-face-logo.webp" alt="LinkedIn" width="32" height="32">
      </a>
      <a href="https://www.linkedin.com/in/juanfranciscoreyes/" target="_blank" rel="noopener noreferrer">
        <img src="/images/linkedin_logo.webp" alt="LinkedIn" width="32" height="32">
      </a>
    </div>
  </div>
</footer>
