<header>
  <div class="top-bar">
    <a class="logo" href="/">Paco</a>
    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav hidden="hidden" id="menu-tray">
    <ul>
      <li><a href="/curriculum-vitae" >CV</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
    </ul>
  </nav>
</header>
