<header class="bg-grey-dark text-white">
  <div class="container mx-auto flex justify-between items-center p-6">
    <a href="/" class="text-4xl font-bold text-white">P</a>
    <div class="flex justify-around w-10 h-10 cursor-pointer" id="nav-icon">
      <span class="block bg-white h-1 w-full mb-2 rounded"></span>
      <span class="block bg-white h-1 w-full mb-2 rounded"></span>
      <span class="block bg-white h-1 w-full rounded"></span>
    </div>
  </div>
  <nav hidden="hidden" class="bg-grey-darkest text-white text-lg" id="menu-tray">
    <ul class="list-none p-0">
      <li class="px-4 py-2"><a href="/curriculum-vitae" class="no-underline text-white">CV</a></li>
      <li class="px-4 py-2"><a href="/portfolio" class="no-underline text-white">Portfolio</a></li>
    </ul>
  </nav>
</header>
