---
layout: page.njk
title: Juan-Francisco (Paco) Reyes | KI-Ingenieur
description: Ich bin Ingenieur für KI und Experte für maschinelles Lernen mit Schwerpunkt auf NLP und großen Sprachmodellen (LLMs), um die Mensch-Maschine-Kommunikation zu verbessern. Ich entwickle KI-Produkte, arbeite in internationalen Forschungsteams und erforsche Themen wie erklärbare KI, XAI, Computerlinguistik und Informationsextraktion.
keywords: Juan-Francisco Reyes, Paco Reyes, KI-Ingenieur, Ingenieur für maschinelles Lernen, NLP, natürliche Sprachverarbeitung, große Sprachmodelle, LLMs, Computerlinguistik, Informationsextraktion, erklärbare KI, XAI, KI-Produktentwicklung, MLOps, LLMOps, generative KI, KI-Infrastruktur, Prompt Engineering
author: Juan-Francisco (Paco) Reyes
---

<section id="hero">
  <div class="container">
    <h1>Juan-Francisco (Paco) Reyes</h1>
    <p><strong>KI-Ingenieur | Doktorand</strong></p>
    <p>KI-Ingenieur und NLP Forscher mit einem Hintergrund in Mensch-Computer-Interaktion und Full-Stack-Entwicklung. Ich spezialisiere mich auf den Aufbau von Lösungen für maschinelles Lernen und generative KI, die von großen Sprachmodellen (LLMs) unterstützt werden, und habe praktische Erfahrung in MLOps für die Bereitstellung dieser Modelle. Ich entwerfe und entwickle KI-Produkte, die die Mensch-Maschine-Kommunikation mit einem Fokus auf Automatisierung und Erklärbarkeit überbrücken, indem ich computerlinguistische mit solider Softwaretechnik und benutzerzentriertem Design kombiniere.</p>
    <p>&#x2794; <a href="reyes_cv_en_nlp_2024_anonym.pdf" target="_blank">Herunterladen CV</a> (<span  class="pdf-text">PDF</span>, 134 KB, 2 pages)</p>
  </div>
</section>
