---
layout: page.njk
title: Juan-Francisco (Paco) Reyes | Ingeniero de IA
description: Soy Ingeniero de IA y experto en aprendizaje automático enfocado en PLN y modelos grandes de lenguaje (LLMs) para mejorar la comunicación humano-máquina. Desarrollo productos de IA, colaboro en equipos internacionales de investigación y exploro temas como XAI, lingüística computacional y extracción de información.
keywords: Juan-Francisco Reyes, Paco Reyes, Ingeniero de IA, Ingeniero de Aprendizaje Automático, PLN, Procesamiento de Lenguaje Natural, Modelos Grandes de Lenguaje, LLMs, Lingüística Computacional, Extracción de Información, IA Explicable, XAI, Desarrollo de Productos de IA, MLOps, LLMOps, IA Generativa, Infraestructura de IA, Ingeniería de Prompts
author: Juan-Francisco (Paco) Reyes
---

<section id="hero">
  <div class="container">
    <h1>Juan-Francisco (Paco) Reyes</h1>
    <p><strong>Ingeniero de IA | Doctorando</strong></p>
    <p>Ingeniero de IA e investigador en PLN con experiencia en Interacción Humano-Computadora y desarrollo full-stack. Me especializo en desarrollar soluciones de aprendizaje automático e IA generativa impulsadas por Modelos Grandes de Lenguaje (LLMs) y tengo experiencia práctica en MLOps para desplegar estos modelos. Diseño y desarrollo productos de IA enfocados en automatización y explicabilidad, combinando lingüística computacional con ingeniería de software sólida y diseño centrado en el usuario.</p>
    <p>&#x2794; <a href="reyes_cv_en_nlp_2024_anonym.pdf" target="_blank">Descargar CV</a> (<span  class="pdf-text">PDF</span>, 134 KB, 2 páginas)</p>
  </div>
</section>

<section class="doc">
  {% block content %}

  <section id="experience">

    <h2>Experiencia Profesional</h2>
    <h3>Investigador Académico y Docente</h3>
    <p><em>Brandenburgische Technische Universität (BTU)</em>, Cottbus, Alemania</p>
    <p class="experience-date">Abril 2020 — Marzo 2024</p>
    <ul>
      <li><p>Lideré investigaciones sobre IA explicable (XAI) en PLN, desarrollando tres modelos y conjuntos de datos publicados en Hugging Face, mejorando la transparencia en análisis político basado en LLMs y resultando en tres publicaciones revisadas por pares en lingüística computacional.</p></li>
      <li><p>Coautor del libro <em><a href="https://webengineering.netlify.app/js-firebase/" target="_blank">Learn how to Build Web Apps with JS and Cloud Firebase</a></em>, centrado en programación orientada a objetos (POO) con tecnologías web sin servidor y Firestore NoSQL. El libro se utilizó para dictar el curso <em>Aplicaciones Web</em> con JS, Node.js, Python y Flask.</p></li>
      <li><p>Diseñé e impartí el curso <em><a href="https://ie-seminar.web.app" target="_blank">PLN para Extracción de Información</a></em>, integrando herramientas como spaCy y Hugging Face Transformers, incrementando la matrícula estudiantil durante cuatro años consecutivos.</p></li>
      <li><p>Impartí el curso <em>Documentos Web</em>, abordando fundamentos y técnicas modernas en documentos web, incluyendo HTML, XML, CSS, SEO, accesibilidad, rendimiento, entre otros.</p></li>
      <li><p>Supervisé dos tesis de maestría en PLN y extracción de información, y proyectos interdisciplinarios combinando PLN y desarrollo web.</p></li>
    </ul>

    <h3>Fundador, Director, Desarrollador Front-End, Diseñador UX</h3>
    <p><em>Talámica Øptimization</em> (agencia UX), Lima, Perú</p>
    <p class="experience-date">Noviembre 2014 — Febrero 2020</p>
    <ul>
      <li><p>Desarrollé el front-end de canales de marketing enfocados en experiencia de usuario en diversas industrias, incluyendo medios, finanzas, banca, comercio electrónico, educación y startups.</p></li>
      <li><p>Desarrollé front-end principalmente utilizando JavaScript, HTML y CSS para mejorar interfaces mediante técnicas de diseño de interacción, asegurando experiencias atractivas e intuitivas.</p></li>
      <li><p>Dirigí un equipo de desarrolladores web y diseñadores UX, fomentando un ambiente colaborativo centrado en experiencias web y objetivos comerciales.</p></li>
      <li><p>Dirigí el diseño UX integral desde la investigación hasta la implementación, usando métodos diversos (encuestas, analítica, pruebas de usabilidad, prototipado) para alinear estrategias e impactos.</p></li>
    </ul>

    <h3>Director de Experiencia de Usuario</h3>
    <p><em>Wunderman Thompson</em> (agencia digital), Lima, Perú</p>
    <p class="experience-date">Agosto 2013 — Octubre 2014</p>
    <ul>
      <li><p>Participé activamente en propuestas para clientes mostrando un profundo conocimiento del usuario, aumentando la confianza del cliente e impulsando las ventas en un 30% en 2014 y 40% en 2015, con un incremento total en ingresos superior a $500K.</p></li>
      <li><p>Recluté y lideré al equipo UX en la adopción de un enfoque basado en evidencia para el diseño, donde las decisiones fueron conducidas por datos comportamiento de los usuarios.</p></li>
      <li><p>Lideré una iniciativa clave para rediseñar los procesos de producción, reduciendo el tiempo de salida al mercado en un 7% e incrementando la satisfacción del cliente en un 11%, incorporando diseño centrado en el usuario en el desarrollo web y móvil.</p></li>
    </ul>

    <h3>Asistente de Investigación y Desarrollo de Posgrado</h3>
    <p><em>University of Baltimore</em>, Maryland, EE. UU.</p>
    <p class="experience-date">Septiembre 2011 — Julio 2013</p>
    <ul>
      <li><p>Desarrollé <em><a href="https://www.behance.net/gallery/6626279/Langsdale-on-the-Go-University-of-Baltimore" target="_blank">Langsdale on the Go!</em></a>, una aplicación web sin servidor usando HTML, CSS y JavaScript, integrando múltiples APIs para localizar libros en la biblioteca, destacando un localizador que mostraba un mapa con la ubicación exacta en el estante del recurso solicitado.</p></li>
      <li><p>Diseñé la experiencia de interacción usando principios fundamentales de la web, validándola mediante pruebas de usabilidad, entrevistas y observación, <a href="https://issuu.com/langsdale/docs/2013_report" target="_blank">mejorando la satisfacción del usuario y aumentando las tasas de adopción</a>.</p></li>
      <li><p>Reconocido por las autoridades universitarias por innovar en servicios digitales para bibliotecas, presentado en la conferencia <a href="https://www.infotoday.com/il2012/Tuesday.asp" target="_blank">Internet Librarian 2012</a> (Monterey, California, EE. UU.).</p></li>
    </ul>
  </section>

  <section id="projects">
    <h2>Proyectos de IA / PLN</h2>
    <div class="projects-grid">
      {% for project in projects.projects %}
      <div class="project-item">
        <h3 data-project-index="{{ loop.index0 }}">{{ project.name }}</h3>
        <div class="project-thumbnail">
          <img src="/{{ project.thumbnail }}" alt="{{ project.name }}" class="project-thumb-img" data-project-index="{{ loop.index0 }}">
        </div>
        <div class="skills-container">
          <p>
            {% for tech in project.technologies %}
              <span>{{ tech }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Elemento oculto con datos de proyectos para JavaScript -->
    <script type="application/json" id="projects-data">
      {{ projects | dump | safe }}
    </script>
  </section>

  <!-- Lightbox para proyectos -->
  <div id="project-lightbox" class="lightbox">
    <div class="lightbox-content">
      <span class="close-lightbox">&times;</span>
      <div class="lightbox-container">
        <div class="lightbox-image-container">
          <img id="lightbox-image" src="" alt="Imagen del proyecto">
          <div class="image-navigation">
            <button id="prev-image" class="nav-button">&lt;</button>
            <button id="next-image" class="nav-button">&gt;</button>
          </div>
        </div>
        <div class="lightbox-details">
          <h3 id="lightbox-title"></h3>
          <div id="lightbox-description"></div>
          <div id="lightbox-technologies" class="skills-container"></div>
        </div>
      </div>
    </div>
    </div>



  <section class="doc">
    <h2>Educación</h2>
    <ul>
      <li><h3>Candidato a Doctorado, Ciencias de la Computación</h3>
      <p><em>Brandenburgische Technische Universität (BTU)</em>, Cottbus, Alemania | <span class="experience-date">2025 (previsto)</span></p>
      <p>Tesis: <em>Explicabilidad en Modelos de Lenguaje Grandes para la Extracción de Declaraciones Políticas a Nivel de Pasaje usando Modelos Lingüísticos Basados en Reglas</em>, supervisado por el Profesor Gerd Wagner.</p></li>

      <li><h3>M.Sc. Diseño de Interacción y Arquitectura de Información (<a href="https://www.ubalt.edu/cas/graduate-programs-and-certificates/degree-programs/masters-interaction-design-and-information-architecture/" target="_blank">IDIA</a>)</h3>
      <p><em>University of Baltimore</em>, Maryland, EE. UU. | <span class="experience-date">2016</span></p>
      <p>Tesis: <em><a href="https://doi.org/10.13016/M2X25M" target="_blank">Efecto de las emociones en la conversión de páginas de aterrizaje de marketing</a></em>, supervisado por la <a href="https://www.ubalt.edu/cas/faculty/alphabetical-directory/kathryn-summers.cfm" target="_blank">Profesora Kathryn Summers</a>. Desarrollé un sólido <a href="https://www.behance.net/juan_francisco_reyes" target="_blank">portafolio en Diseño de Interacción y Arquitectura de Información</a>.</p></li>

      <li><h3>B.Sc. Comunicación Social, Especialidad en Comunicación Audiovisual</h3>
      <p><em>Universidad Nacional Mayor de San Marcos (UNMSM)</em>, Lima, Perú | <span class="experience-date">2006</span></p></li>
    </ul>
  </section>

  <section class="doc">
    <h2>Habilidades</h2>
    <div>
      <ul>
        {% for category, skillsList in skills %}
          <li><p>{{ category }}: {% for skill in skillsList %}<span class="individual_skill">{{ skill }}</span>{% endfor %}</p></li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="publications">
    <h2>Publicaciones</h2>
    <ul>
      <li><h3>Explicabilidad de IA en la clasificación de discursos políticos y entrevistas</h3>
      <p><em>Journal of Language Technology and Computational Linguistics (JLCL)</em>, en revisión | <span class="experience-date">2025</span></p></li>

      <li><h3>Clasificación Explicable de Posicionamientos Subjetivos con SetFit en el Discurso Político</h3>
      <p><em>Journal of Language Technology and Computational Linguistics (JLCL)</em>, en revisión | <span class="experience-date">2025</span></p></li>

      <li><h3>Continuidad Explicable del Tema en el Discurso Político: Un Análisis con Modelo BERT para Pares de Oraciones</h3>
      <p><em>International Journal of Computational Linguistics (IJCL)</em> | <span class="experience-date">2025</span></p></li>
    </ul>
  </section>

  <section id="awards">
    <h2>Premios y Reconocimientos</h2>
    <ul>
      <li><p>Primer puesto de promoción entre 23 estudiantes, estudios de pregrado en la UNMSM, Valedictorian, (2006).</p></li>
      <li><p>EducationUSA Opportunity Grants (Fulbright Perú), beca otorgada para el proceso de postulación a estudios de posgrado, (2007).</p></li>
      <li><p>Asistente de posgrado en la Biblioteca Langsdale de la Universidad de Baltimore, beca completa para estudios de maestría, (2011).</p></li>
      <li><p>Premio Turner de Investigación y Viajes otorgado por la Universidad de Baltimore (2012).</p></li>
    </ul>
  </section>

  <section id="certifications">
    <h2>Certificaciones</h2>
    <ul>
      <li><h3>Analista Certificado en Usabilidad, <a href="https://hfi.training/na/certifications/cua" target="_blank">HFI CUA</a>™</h3>
      <p><em>Human Factors International</em>, credencial #2010-2559 | <span class="experience-date">2010</span></p></li>

      <li><h3>Analista Certificado en Experiencia de Usuario, <a href="https://hfi.training/in/certifications/cxa" target="_blank">HFI CXA</a>™</h3>
      <p><em>Human Factors International</em>, credencial #2015-327 | <span class="experience-date">2015</span></p></li>
    </ul>
  </section>

  <section id="languages">
    <h2>Idiomas</h2>
    <ul>
      <li><p>Inglés: <em>Dominio profesional completo</em>.</p></li>
      <li><p>Español: <em>Nativo</em>.</p></li>
      <li><p>Alemán: <em>B1 TELC</em> | <span class="experience-date">SEPT 2015 (PREVISTO)</span>.</p></li>
    </ul>
  </section>

  <section>
    <h2>Sobre mí</h2>
    <p>Con más de 4 años de experiencia en IA y aprendizaje automático, he abordado desafíos reales mediante proyectos interdisciplinarios tanto en contextos académicos como aplicados. Mi especialización incluye ingeniería de aprendizaje automático, investigación en PLN y desarrollo de productos de IA, con un enfoque especial en la explicabilidad 🧠 de modelos y automatización 🤖 en PLN.</p>
  </section>

  <section id="personal-information">
    <h2>Información Personal</h2>
    <ul>
      <li><p>Dirección: <em>Cottbus, Brandenburg, Alemania</em></p></li>
      <li><p>Email: <em>pacoreyes [at] protonmail [dot] com</em></p></li>
      <li><p>ORCID: <a href="https://orcid.org/0000-0003-4291-6933" target="_blank">0000-0003-4291-6933</a></p></li>
      <li><p>LinkedIn: <a href="https://linkedin.com/in/juanfranciscoreyes" target="_blank">linkedin.com/in/juanfranciscoreyes</a></p></li>
      <li><p>GitHub: <a href="https://github.com/pacoreyes" target="_blank">github.com/pacoreyes</a></p></li>
      <li><p>Hugging Face: <a href="https://huggingface.co/pacoreyes" target="_blank">huggingface.co/pacoreyes</a></p></li>
      <li><p>Google Scholar: <a href="https://scholar.google.de/citations?hl=en&user=8tE5bKEAAAAJ" target="_blank">scholar.google.de/citations?hl=en&user=8tE5bKEAAAAJ</a></p></li>
      <li><p>ResearchGate: <a href="https://www.researchgate.net/profile/Juan-Francisco-Reyes" target="_blank">researchgate.net/profile/Juan-Francisco-Reyes</a></p></li>
      <li><p>X: <a href="https://x.com/pacoreyes" target="_blank">x.com/pacoreyes</a></p></li>
    </ul>
  </section>

  {% endblock %}
</section>