---
layout: page.njk
title: Home
description: This is the home page.
keywords: home, eleventy, static site
author: Juan-Francisco (Paco) Reyes
---
<div class="font-sans text-gray-700 bg-white p-6">
  <h1 class="text-4xl font-bold mb-4">Paco Reyes's Curriculum Vitae</h1>
  <h2 class="text-3xl font-semibold mt-4 mb-2">Professional Experience</h2>
  <p class="text-lg mb-2">Software Engineer at XYZ Corporation from 2020 to Present</p>
  <p class="text-lg mb-4">Junior Software Developer at ABC Company from 2018 to 2020</p>

  <h2 class="text-3xl font-semibold mt-4 mb-2">Education</h2>
  <p class="text-lg mb-2">Master of Science in Computer Science, University of Lorem Ipsum, 2018</p>
  <p class="text-lg mb-4">Bachelor of Science in Computer Science, University of Lorem Ipsum, 2016</p>

  <h2 class="text-3xl font-semibold mt-4 mb-2">Skills</h2>
  <p class="text-lg mb-2">Proficient in Python, Java, C++</p>
  <p class="text-lg mb-2">Experience with machine learning and data analysis</p>
  <p class="text-lg mb-4">Knowledge of web development (HTML, CSS, JavaScript)</p>
</div>
