---
layout: page.njk
title: Juan-Francisco (Paco) Reyes - NLP Engineer
description: Senior HCI and NLP Engineer Experienced in designing and developing software for human-computer interaction and natural language processing.
keywords: Juan-Francisco (Paco) Reyes, NLP Engineer, HCI research
author: Juan-Francisco (Paco) Reyes
---
<h1>Juan-Francisco (Paco) Reyes</h1>
<div id="hero">
  <br/>
  <br/>
  <br/>
  <code>A--B--C</code>
  <br/>
  <code xml:space="preserve">|  |  |</code>
  <br/>
  <code>D--E--F</code>
  <br/>
  <br/>
  <br/>
</div>
<div id="features">
  <h2>Senior HCI and NLP Engineer</h2>
  <p>Experienced in designing and developing software for human-computer interaction and natural language processing.</p>

</div>


<!--h2>Professional Experience</h2>
<p>Software Engineer at XYZ Corporation from 2020 to Present</p>
<p>Junior Software Developer at ABC Company from 2018 to 2020</p>

<h2>Education</h2>
<p>Master of Science in Computer Science, University of Lorem Ipsum, 2018</p>
<p>Bachelor of Science in Computer Science, University of Lorem Ipsum, 2016</p>

<h2>Skills</h2>
<p>Proficient in Python, Java, C++</p>
<p>Experience with machine learning and data analysis</p>
<p>Knowledge of web development (HTML, CSS, JavaScript)</p-->

